@import './variables'

.entry-form
	button
		border none
		background-color green
		color white
		height $insertion-form-height
		width 10 * $unit

	input
		width 39 * $unit
		height $insertion-form-height
		padding-left $unit
		margin-right $unit

	input,
	button
		box-sizing: border-box
		display: inline-block
