@import './variables'

.entry-form
	input
		margin-right $unit
		width "calc(70% - %s)" % @margin-right
		height $insertion-form-height

	button
		border none
		background-color green
		color white
		height $insertion-form-height
		width 30%

	input,
	button
		box-sizing: border-box
		display: inline-block
