@import './variables'

body
	background-color $light-background
	font-family Avenir, "Century Gothic", sans-serif
	width $body-width
	margin-top	$top-margin-height
	margin-left auto
	margin-right auto
