@import '../../node_modules/normalize.css/normalize.css'

@import 'home'
@import 'panel'
@import 'entry_form'
@import 'card_list'
@import 'card'

body
	display flex
	justify-content center
	background-color $light-background
	font-family Avenir, "Century Gothic", sans-serif
	margin-top	$top-margin-height
