; EditorConfig is awesome: http://EditorConfig.org

; top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
tab_width = 3
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.json]
indent_style = space
indent_size = 2

[*.elm]
indent_style = space
indent_size = 4

; The default indent on package.json is 2 spaces, better to keep it so we can
; use `npm install --save` and other features that rewrites the package.json
; file automatically
[package.json]
indent_style = space
indent_size = 2
